
html,body {
    margin:0;
    padding:0;
}

.jumbotron-home {
    background-image: url('../img/groupChudanBlue.jpg');
    background-size: cover;
}

.video-form {
    width: auto;
    font-size: 16px;
    background-color: rgb(37, 55, 95);
    color: white;
    padding-top: 10px;
    padding-right: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 35px;
    margin-bottom: 35px;
}

.about,
.timesLocation {
    padding-top: 25px;
    color:  rgb(64, 95, 161);
}


.images-section .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 10px; /* Space between the grid items */
}

.grid-item {
    text-align: center; /* Center the image and any content */
    padding: 10px; /* Optional padding for spacing around the image */
    border: 1px solid #ccc; /* Optional: border for containers */
    box-sizing: border-box; /* Ensure padding and borders don't affect size */
}

.grid-item img {
    max-width: 100%; /* Scale image to fit within container's width */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove inline-block spacing */
    margin: 0 auto; /* Center image horizontally */
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/********* Footer *********/
.main-footer {
    width: auto;
    background-color: rgb(37, 55, 95);
    color: white;
    height: 75px;
    padding-left: 30px;
}


/********* Image Gallery *********/
.responsive {
    padding: 0 6px;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/********* Media Queries *********/
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
  }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
