
html,body {
    margin:0;
    padding:0;
}

.jumbotron-home {
    background-image: url('../img/groupChudanBlue.jpg');
    background-size: cover;
    /*margin-bottom: 0;*/
}

.video-form {
    width: auto;
    font-size: 16px;
    background-color: rgb(37, 55, 95);
    color: white;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 35px;
    margin-bottom: 35px;
}

.about,
.timesLocation {
    padding-top: 25px;
    color:  rgb(64, 95, 161);
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/********* Footer *********/
.main-footer {
    width: auto;
    background-color: rgb(37, 55, 95);
    color: white;
    height: 75px;
}


/********* Image Gallery *********/
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/********* Media Queries *********/
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
  }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
